.container{
    background-color:rgba(6, 37, 78, 0.692);
    width: 100vh; height: 100vh; min-width: 200vh; min-height: auto; 
}
.firstclass{
    background:rgb(153, 225, 253);
    padding: 6px;    
}
.navbar{
    background-color: #e3f2fd;
    color: #e3f2fd;
}
.bexar {
    font-size: 7mm;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dropdown-toggle{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
}
.blog{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contact{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.pages{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.shortcode{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.sear{
    font-weight: 5mm;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    color:black;
    background:greenyellow;
    font-weight: bold;
    border-style:;
}
.mar{
    text-transform: uppercase;
    background: black;
    color:white;
}
.imge{
    margin-top: 0px;
}
.start{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20%;
    left: 5%;
    font-weight: bolder;
    font-size: 4mm;
    color:rgb(255, 255, 255);
}
.he{
    position: absolute;
    top:21%;
    left:5%;
    font-size: 12mm;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.para{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    left: 5%;
    font-weight: bolder;
    font-size: 4mm;
    color:rgb(19, 16, 16);
}
.buttons{
    position:absolute;
    top:41%;
    left:5%;
    font-size: 4mm;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding:7px;
    right: 1px;
    background-color: rgb(169, 250, 87);
    border-width: 2mm;
    border-radius: 50px;
    cursor:pointer; 
}
.card1{
    background-color:  rgb(172, 47, 47);
    position:absolute;
    bottom:10%;
    color:white;
}

.card2{
    background-color:black;
    position:absolute;
    color:white;
    bottom:50%;
}


.card3{
    background-color: rgb(172, 47, 47);
    position: absolute;
    color:white;
    bottom: 50%;
}
.card4{
    background-color:black;

    color:white;
    

}
.bla{
    height:210px;
    
}  
